{extend name="base" /}
{block name="header"}
<div class="admin_header_{$skin_name|default='default'} clearfix">
    <div class="title"><i></i>{$title|default=""}</div>
    <div class="action">
        <b></b>
        <div class="layui-btn-group layui-btn-group-only">
            <a class="layui-btn  layui-btn-disabled layui-btn-sm "><i class="fa fa-reply"></i> 返 回 </a>
        </div>
    </div>
</div>
{/block}
{block name="main"}

<div class="layui-btn-group">
    <a href="http://store.andphp.com" class="layui-btn layui-btn-primary"><i class="layui-icon" style="font-size: 30px; color: #ffffff;">&#xe857;</i>  应用商城</a>
</div>
<div class="layui-form">
<table class="layui-table" lay-even="" lay-skin="row" lay-size="sm">
    <colgroup>
        <col width="100">
        <col width="100">
        <col width="80">
        <col width="100">
        <col width="100">
        <col width="150">
        <col width="150">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="150">
    </colgroup>
    <thead>
    <tr>
        <th>魔块</th>
        <th>主题名称</th>
        <th>缩略图</th>
        <th>主题标题</th>
        <th>版本号</th>
        <th>开发者</th>
        <th>启用|弃用</th>
        <th>安装|卸载</th>
        <th>主题文件</th>
        <th>购买金额</th>
        <th>安装时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>

    {volist name="theme" id="vo"}
    <tr>
        <td>{$vo.module|default=''}</td>
        <td>{$vo.name|default=''}</td>
        <td><a href="{php}echo get_theme_thumb_image($vo['module'],$vo['name']){/php}" class="tooltip"><img src="{php}echo get_theme_thumb_image($vo['module'],$vo['name']){/php}" width="20" height="20"></a></td>
        <td>{$vo.title|default=''}</td>
        <td>{$vo.version|default=''}</td>
        <td>{$vo.author|default=''}</td>
        {notempty name="$vo.id"}
        <td><input type="checkbox" name="status" lay-skin="switch" lay-text="启用|弃用" lay-filter="switchStatus" value="{$vo.id}&module={$vo.module}" {notempty name="$vo.status"}{eq name="$vo.status" value="1"}checked=""{/eq}{/notempty}></td>
        {if $vo.status eq 1}
        <td>已启用</td>
        {else /}
        <td><input type="checkbox" name="install" lay-skin="switch" lay-text="安装|卸载" lay-filter="switchInstall" value="id={$vo.id}&module={$vo.module}&name={$vo.name}" {notempty name="$vo.install"}{eq name="$vo.install" value="1"}checked=""{/eq}{/notempty}></td>
        {/if}
        {else /}
        <td> <input name="status" value="禁" title="未安装哟" disabled="" type="radio"></td>
        <td><input type="checkbox" name="install" lay-skin="switch" lay-text="安装|卸载" lay-filter="switchInstall" value="module={$vo.module}&name={$vo.name}" {notempty name="$vo.install"}{eq name="$vo.install" value="1"}checked=""{/eq}{/notempty}></td>
        {/notempty}
        {if $vo.install eq 0 and $vo.dir eq 1}
        <td><button  class="layui-btn layui-btn-xs layui-btn-radius delete" id="{$vo.module}&{$vo.name}">删除</button ></td>
        {elseif  $vo.install eq 1 and $vo.dir eq 1 /}
        <td><button  class="layui-btn layui-btn-xs layui-btn-radius layui-btn-disabled">删除</button >未卸载</td>
        {else /}
        <td><button  class="layui-btn layui-btn-xs layui-btn-radius layui-btn-disabled">删除</button ><a style="color: red">已丢失</a></td>
        {/if}
        {if $vo.money eq 0 }
        <td>免费</td>
        {else /}
        <td><i class="layui-icon">&#xe65e;</i> {$vo.money|default=''}</td>
        {/if}
        {notempty name="$vo.create_time"}
        <td>{$vo.create_time}</td>
        {else /}
        <td>未安装</td>
        {/notempty}
        <td><button  class="layui-btn layui-btn-sm layui-btn-radius">更新</button ><button  class="layui-btn layui-btn-sm layui-btn-radius">联系作者</button ></td>

    </tr>
    {/volist}
    </tbody>
</table>
    </div>
{/block}

{block name="script"}

<script type="text/javascript">
    layui.use(['form'],function(){
        var form = layui.form
                ,jq = layui.jquery;
        //jq('.btable-paged').eq(1).hide();
        var status=0;
        form.on('switch(switchStatus)', function(data){
            loading = layer.load(2, {
                shade: [0.2,'#000']
            });
            if(data.elem.checked){
                status=1;
            }else{
                status=0;
            }
            var url="{:url('admin/Theme/update_status')}?id="+data.value+'&status='+status ;

            jq.get(url,function(data){

                if(data.code == 200){
                    layer.close(loading);
                    layer.msg(data.msg, {icon: 1, time: 500}, function(){
                        location.reload();
                    });
                }else{
                    layer.close(loading);
                    layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
                }
            });
            return false;
        });
        form.on('switch(switchInstall)', function(data){
            loading = layer.load(2, {
                shade: [0.2,'#000']
            });
            if(data.elem.checked){
                status=1;
            }else{
                status=0;
            }
            var url="{:url('admin/Theme/update_install')}?"+data.value+'&status='+status ;

            jq.get(url,function(data){

                if(data.code == 200){
                    layer.close(loading);
                    layer.msg(data.msg, {icon: 1, time: 500}, function(){
                          location.reload();
                    });
                }else{
                    layer.close(loading);
                    layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
                }
            });
            return false;
        });

    });
</script>
<script type="text/javascript">
    $(function(){
        var x = 10;
        var y = 20;
        $(".tooltip").mouseover(function(e){
            var tooltip = "<div id='tooltip'><img src='"+ this.href +"' alt='主题预览图' height='200'/>"+"<\/div>"; //创建 div 元素
            $("body").append(tooltip);  //把它追加到文档中
            $("#tooltip")
                    .css({
                        "top": (e.pageY+y) + "px",
                        "left":  (e.pageX+x)  + "px"
                    }).show("fast");    //设置x坐标和y坐标，并且显示
        }).mouseout(function(){
            $("#tooltip").remove();  //移除
        }).mousemove(function(e){
            $("#tooltip")
                    .css({
                        "top": (e.pageY+y) + "px",
                        "left":  (e.pageX+x)  + "px"
                    });
        });
    });

    $('.delete').click(function(){
        var id = $(this).attr('id');
        layer.confirm('确定要删除?', function(index) {
            $.ajax({
                url:"{:url('admin/Theme/delete_theme')}",
                data:{id:id},
                success:function(res) {
                    layer.msg(res.msg);
                    if(res.code == 1) {
                        setTimeout(function(){
                            location.href = res.url;
                        },1500)
                    }
                }
            })
        })
    })
</script>
{/block}