<!DOCTYPE html>
<html><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>AndPHP - 轻量级PHP综合网站管理系统</title>
    <meta name="keywords" content="AndPHP,tp5,layui,社区系统,php源码">
    <meta name="description" content="AndPHP 是一款轻量级，基于ThinkPHP+Layui架构的集多应用综合网站管理系统。">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__HOME__/css/home_global.css" media="all">
</head>

<body class="site-home" id="LAY_home" style="background-color: #eee;">
<div class="layui-header header header-index">
    <div class="layui-main">
        <a class="fly-logo">
            <img src="__HOME__/images/logo.png" style="height:42px;margin-top:10px" alt="AndPHP">
        </a>
        <ul class="layui-nav">

            <li class="layui-nav-item">
                <a href="http://www.AndPHP.com/index" target="_blank">CMS演示</a>
            </li>
            <li class="layui-nav-item">
                <a href="http://www.AndPHP.com/bbs" target="_blank">社区</a>
            </li>

            <li class="layui-nav-item">
                <a href="http://www.AndPHP.com/bbs/plugin" target="_blank">插件</a>
            </li>
        </ul>
    </div>
</div>

<div class="site-banner">
    <div class="site-banner-bg" style="background-image: url(__HOME__/images/banner1.jpg);">
    </div>
    <div class="site-banner-main">
        <div class="site-zfj">
            <i class="layui-icon" style="color: #fff;">&#xe63a;</i>
        </div>
        <div class="layui-anim site-desc">
            <cite style="color: #fff;font-size:16px">shop集多模块、多主题、多插件自由控制与切换，集AUTH多角色权限控制等多应用网站综合一体解决方案</cite>
        </div>
        <div class="site-download">
            <a href="http://www.AndPHP.com/thread/389.html" class="layui-inline site-down" target="_blank">
                <cite class="layui-icon"></cite> 进入社区下载
            </a>
        </div>
        <div class="site-version">
            <span>当前版本：<cite class="site-showv" style="color: #fff;">2.2.0正式版</cite></span>
            <span>最后更新：<cite class="site-showv" style="color: #fff;">2018-3-3</cite></span>
            <!-- <span><a href="/doc/base/changelog.html" rel="nofollow" target="_blank">更新日志</a></span>
            <span>下载量：<em class="site-showdowns">…</em></span> -->
        </div>
    </div>
</div>

<div class="layui-main">




    <ul class="site-idea">
        <li>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>个人永久免费</legend>
                <p>个人站长在遵循开源协议的前提下，可尽情使用本站所有免费源码。</p>
            </fieldset>
        </li>
        <li>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>插件扩展</legend>
                <p>下载简单，安装方便，扩展丰富，更多模板插件支持一键更新、永久免费升级。</p>
            </fieldset>
        </li>
        <li>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>技术支持</legend>
                <p>完备的技术交流群与社区问答，为无开发经验的初级站长孜孜不倦提供技术支持。</p>
            </fieldset>
        </li>
    </ul>

</div>
<div class="layui-footer footer footer-index">
    <div class="layui-main">
        <p> 吾与众科技 2018 © AndPHP.COM</p>
        <p>
            鄂ICP备17009972号-2
        </p>
    </div>
</div>

<div class="site-tree-mobile layui-hide">
    <i class="layui-icon"></i>
</div>
<div class="site-mobile-shade"></div>



</body></html>