{extend name="base" /}
{block name="header"}
{/block}
{block name="main"}
<form class="layui-form" style="width:80%;">
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">登录名</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input id" lay-verify="required" placeholder="请输入登录名">
        </div>
    </div>


    <div class="layui-row">

        <div class="magb15 layui-col-md4 layui-col-xs12">
            <label class="layui-form-label">会员等级dd</label>
            <div class="layui-input-block">
                <select name="userGrade" class="userGrade" lay-filter="userGrade">
                    <option value="0">注册会员</option>
                    <option value="1">中级会员</option>
                    <option value="2">高级会员</option>
                    <option value="3">钻石会员</option>
                    <option value="4">超级会员</option>
                </select>
            </div>
        </div>
        <div class="magb15 layui-col-md4 layui-col-xs12">
            <label class="layui-form-label">会员状态</label>
            <div class="layui-input-block">
                <select name="userStatus" class="userStatus" lay-filter="userStatus">
                    <option value="0">正常使用</option>
                    <option value="1">限制用户</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">用户简介</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入用户简介" class="layui-textarea userDesc"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="addUser">立即添加</button>
            <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">取消</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}

{/block}